@model EntityManager.Domain.CodeFirst.Subgroup

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Subgroup", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <section class="manage-section" id="edit">
        <div>
            <h5>Create subgroup</h5><hr />
        </div>
        <div>
            <h6>Name:</h6>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            <div>@Html.ValidationMessageFor(x => x.Name)</div>
        </div>
        <div>
            <h6>Description:</h6>
            @Html.TextAreaFor(model => model.Description, new { @rows = "7", @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        <div class="button-set">
            <input type="submit" class="btn btn-success" value="Save">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary", @role = "button" })
        </div>
    </section>
    
}