@model EntityManager.Domain.CodeFirst.Group

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Group", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <section class="manage-section" id="edit">
        <div>
            <h5>Create group</h5><hr />
        </div>
        <div>
            <h6>Group name</h6>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            <div>@Html.ValidationMessageFor(x => x.Name)</div>
        </div>
        <div>
            <h6>Description</h6>
            @Html.TextAreaFor(x => x.Description, new { @rows="7", @class = "form-control" } )
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="button-set">
            <input type="submit" class="btn btn-success" value="Save">
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary", @role = "button" })
        </div>
    </section>
}
