@model EntityManager.Domain.CodeFirst.Group

@{
    ViewBag.Title = "Group details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="manage-section">
    
    @Html.HiddenFor(model => model.Id)

    <div>
        <h5>Group details</h5><hr />
    </div>
    <div class="row">
        <h6><div class="col-sm-2">Group name:</div></h6>
        <div class="col-sm-8">@Model.Name</div>
    </div>
    <div class="row">
        <h6><div class="col-sm-2">Description:</div></h6>
        <div class="col-sm-8">@Model.Description</div>
    </div>
    
    <div class="row">
        <h6><div class="col-sm-2">Belongs to:</div></h6>
        <div class="col-sm-8">@Model.LastUpdateDate</div>
    </div>
    <div class="row">
        <h6>
            <div class="col-sm-2">Modified by:</div></h6>
        <div class="col-sm-8">@Model.LastUpdatedBy</div>
    </div>

    @if (Model.SubGroups.Any())
    {
        <hr />
        <h6>Associated subgroups</h6>
    }
        
        @foreach (var item in Model.SubGroups)
        {
            @item.Name<br/>
        }

    <div class="button-set">
        @Html.ActionLink("Edit", "Edit", new {@id = Model.Id}, new { @class = "btn btn-primary", @role = "button" })
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary", @role = "button" })
    </div>
</section>