@model EntityManager.Domain.CodeFirst.Group

@{
    ViewBag.Title = "Edit group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Group", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <section class="manage-section" id="edit">
        <div>
            <h5>Edit group</h5><hr/>
        </div>
        <div>
            <h6>Group name:</h6>
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
            <div>@Html.ValidationMessageFor(x => x.Name)</div>
        </div>
        <div>
            <h6>Description:</h6>
            @Html.TextAreaFor(model => model.Description, new { @rows = "5", @class = "form-control"})
            <div>@Html.ValidationMessageFor(x => x.Description)</div>
        </div>
        <div class="button-set">
            <input type="submit" class="btn btn-success" value="Save">
            @Html.ActionLink("Cancel", "Index", null, new { @class="btn btn-secondary", @role="button"})
        </div>
    </section>
}