@model EntityManager.Models.GroupSubgroup.GroupGeneralViewModel

@using (Html.BeginForm("ManageGeneral", "Group", FormMethod.Post, new { @Id = "generalform", @class = "manage-section" }))
{
    @*@Html.AntiForgeryToken();*@
    @Html.HiddenFor(model => model.Id)

    <section class="section-header">
        <h3>Manage group</h3>
    </section>

    <section class="manage-section" id="manage-general">
        <label class="standard-label">Group name:</label>
        <span class="standard-input">@Model.Name</span>
        <br />
        <label class="standard-label">Description:</label>
        <span class="standard-input">@Model.Description</span>
        @ManageHelper.EditButton("group-edit")
    </section>

    <section class="manage-section" id="manage-general-edit" style="display:none">
        <div>
            <label class="standard-label" for="Name">Group name:</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "standard-input" })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div>
            <label class="standard-label" for="Description">Description:</label>
            @Html.TextAreaFor(x => x.Description, new { @class = "wide-input" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
        @ManageHelper.SaveCancelButtons("group")
    </section>
}
