@model EntityManager.Domain.CodeFirst.Client

<div class="row">
    <h6>
        <div class="col-sm-3">Name:</div>
    </h6>
    <div class="col-sm-9">@Model.Name</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Code:</div>
    </h6>
    <div class="col-sm-9">@Model.EntityCode</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Year incorporated:</div>
    </h6>
    <div class="col-sm-9">@Model.YearIncorporated</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">TaxId:</div>
    </h6>
    <div class="col-sm-9">@Model.TaxId</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Phone:</div>
    </h6>
    <div class="col-sm-9">@Model.Phone</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Fax:</div>
    </h6>
    <div class="col-sm-9">@Model.Fax</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Email:</div>
    </h6>
    <div class="col-sm-9">@Model.Email</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Website:</div>
    </h6>
    <div class="col-sm-9">@Model.Website</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Schedule:</div>
    </h6>
    <div class="col-sm-9">@Model.Schedule</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Year end:</div>
    </h6>
    <div class="col-sm-9">@Model.YearEndDate</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Fiscal end:</div>
    </h6>
    <div class="col-sm-9">@Model.FiscalYearEndDate</div>
</div>
<div class="row">
    <h6>
        <div class="col-sm-3">Managed:</div>
    </h6>
    <div class="col-sm-9">@Model.Managed</div>
</div>