@model EntityManager.Models.Client.ClientManageModel

<div class="control-label col-sm-3">
    Name
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Code
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.EntityCode, new {htmlAttributes = new {@class = "form-control"}})
    @Html.ValidationMessageFor(model => model.EntityCode, "", new {@class = "text-danger"})
</div>
<div class="control-label col-sm-3">
    Subgroup
</div>
<div class="col-sm-9 small-input-margin">
    @Html.DropDownListFor(m => m.SubgroupId, new SelectList(Model.Subgroups,"Id", "Name"), new { @Name="SubgroupId", @class = "btn btn-primary dropdown-toggle" })
    @Html.ValidationMessageFor(model => model.Subgroups, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Year incorporated
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.YearIncorporated, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.YearIncorporated, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    TaxId
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.TaxId, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.TaxId, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Phone
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Fax
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Email
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Website
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => Model.Website, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Schedule
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Schedule, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Schedule, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Year end
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.YearEndDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.YearEndDate, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Fiscal end
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.FiscalYearEndDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.FiscalYearEndDate, "", new { @class = "text-danger" })
</div>
<div class="control-label col-sm-3">
    Managed
</div>
<div class="col-sm-9 small-input-margin">
    @Html.EditorFor(model => model.Managed, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Managed, "", new { @class = "text-danger" })
</div>

@*buttons*@
<div class="col-sm-3"></div>
<div class="col-sm-9 small-input-margin">
    <div class="button-set">
        <input type="submit" class="btn btn-success" value="Save">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary", @role = "button" })
    </div>
</div>
