@model IEnumerable<EntityManager.Domain.CodeFirst.Client>

@{
    ViewBag.Title = "Entity management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*client*@
<h5>@ViewBag.Title</h5><hr />

<p>
    @Html.ActionLink("New", "Create", null, new { @class = "btn btn-success", @role = "button" })
</p>

<section>
    <div class="col-sm-9">
        <div class="col-sm-5">
            <h6>Entity</h6>
        </div>
        <div class="col-sm-1">
            <h6>Code</h6>
        </div>
        <div class="col-sm-3">
            <h6>Subgroup</h6>
        </div>
        <div class="col-sm-3">
            <h6>Phone</h6>
        </div>    
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h6>Actions</h6>
        </div>
    </div>
   
        @foreach (var item in Model)
        {
            <div class="col-sm-9 row-buffer">
                <div class="col-sm-5 row-buffer">
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id})
                </div>
                <div class="col-sm-1 row-buffer">
                    @Html.DisplayFor(modelItem => item.EntityCode)
                </div>
                <div class="col-sm-3 row-buffer">
                    @Html.DisplayFor(modelItem => item.Subgroup.Name)
                </div>
                <div class="col-sm-3 row-buffer">
                    @Html.DisplayFor(modelItem => item.Phone)
                </div>
            </div>
            <div class="col-sm-3 row-buffer">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
        }
</section>
