@using Microsoft.AspNet.Identity
@{
    ViewBag.Controller = ViewContext.RouteData.Values["controller"];
    ViewBag.Action = ViewContext.RouteData.Values["action"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) {
                t[config] = function () {
                    var i = arguments;
                    t.queue.push(function () { t[config].apply(t, i); });
                }
            } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop());
            return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) {
                var s = u && u(config, r, f, e, o);
                return s !== !0 && t["_" + i](config, r, f, e, o), s;
            }), t;
        }({
            instrumentationKey: "7c1f61e3-069e-4cb7-b68b-dffc0254bd09"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>

    @Styles.Render("~/Content/Layout.css")
    @Styles.Render("~/Content/Navigation.css")

    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="theme-body-background layout">
    <div id="container">
        <section id="masthead" class="theme-primary-background">
            <div id="top">@*placeholder for pre-scrolling to appropriate position down masthead image*@</div>
            <img id="masthead-hero" width="1280" src="/Content/Images/home-hero.jpg" onload="document.getElementById('top').scrollIntoView();" />
        </section>
        <div id="layout-body" class="theme-primary-background">
            <section id="layout-nav-gutter">
                <nav id="vertical-nav" class="theme-primary-background">
                    <ul>
                        @*home*@
                        <li class="@(ViewBag.Controller == "Home" && ViewBag.Action == "Index" ? "active" : "")">
                            <a id="nav-home" class="iconfont impact" href="@Url.Action("Index", "Home")">Home<span class="badge"></span></a>
                        </li>
                        @*Clients*@
                        <li class="@(ViewBag.Controller == "Clients" ? "active" : "")">
                            <a id="nav-register" class="iconfont impact" href="@Url.Action("Index", "Clients")">Entity Manager<span class="badge"></span></a>
                        </li>
                        @*Contact*@
                        <li class="@(ViewBag.Controller == "Home" && ViewBag.Action == "Contact" ? "active" : "")">
                            <a id="nav-contact" class="iconfont impact" href="@Url.Action("Contact", "Home")">Contact<span class="badge"></span></a>
                        </li>
                        @*About*@
                        <li class="@(ViewBag.Controller == "Home" && ViewBag.Action == "About" ? "active" : "")">
                            <a id="nav-about" class="iconfont impact" href="@Url.Action("About", "Home")">About<span class="badge"></span></a>
                        </li>
                        <li class="@(ViewBag.Controller == "Account" && ViewBag.Action == "Register" ? "active" : "")">
                            <a id="nav-register" class="iconfont impact" href="@Url.Action("Register", "Account")">Register<span class="badge"></span></a>
                        </li>
                        @if (!Request.IsAuthenticated)
                        {
                            <li class="@(ViewBag.Controller == "Account" && ViewBag.Action == "Login" ? "active" : "")">
                                <a id="nav-login" class="iconfont impact" href="@Url.Action("Login", "Account")">Login<span class="badge"></span></a>
                            </li>
                        }
                        else
                        {
                            @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="button" class="btn btn-default">
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                    </button>*@
                            <li class="">
                                <a id="nav-logoff" class="iconfont impact" href="@Url.Action("LogOff", "Account")">Log off<span class="badge"></span></a>
                            </li>
                            @*}*@
                        }
                    </ul>
                </nav>
            </section>

            <section id="layout-contents" class="theme-text-color">
                @*if (User.IsInRole("admin"))
                    {*@
                @RenderPage("Navigation/_HorizontalNav.cshtml")
                @*}*@
                @RenderBody()

            </section>
        </div>
    </div>

    <footer class="container-fluid">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script type="text/javascript">
        document.getElementById("top").scrollIntoView();
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/entitymanager")

    @RenderSection("scripts", required: false)

</body>
</html>

@*<aside class="col-sm-2">
        @if (Request.IsAuthenticated)
        {
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            </ul>
        }
    </aside>*@